/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
} */

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root {
  height: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affirmation {
  font-size: 32px;
}

.heartbeat {
  animation: beat 2s alternate infinite;
}

@keyframes beat {
  0% {
    filter: drop-shadow(0 0 1px red);
  }
  100% {
    filter: drop-shadow(0 0 25px red);
  }
}
